@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root {
    --primary-btn-background-color:rgba(229, 84, 115, 1);
    --primary-btn-background-hover-color:rgba(229, 84, 115, .7);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
header {
    background-color:rgba(229, 84, 115, 0.10);
}
header .container .flex {
    display: flex;
}
header .container .flex .left,
header .container .flex .right
{
    width: 50%;
}
header .container .flex .left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
}
header .container .flex .left h2 {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
header .container .flex .left p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.btn {
    border-radius: 8px;
    background-color: var(--primary-btn-background-color);
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: transparent;
    border: 1px #E55473;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--primary-btn-background-hover-color);
}
header .container .flex .right {
    display: flex;
    justify-content: center;
}
.featured {
    margin-top: 178px;
}
.featured h2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}
.featured p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 594px;
    margin: 0 auto 48px auto;
}
.featured .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
    .featured .grid .featured-item .image-container {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 538px;
    width: 464px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.featured .grid .featured-item.two .image-container {
    padding-bottom: 51px;
    background-color: rgba(5, 151, 160, 0.15);
}
.featured .grid .featured-item.three .image-container {
    background-color: rgba(71, 125, 17, 0.15);
}
.featured .grid .featured-item a {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    display: block;
    margin-top: 32px;
}
.service {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 320px;
    gap: 100px;
}
.service .service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}
.service .service-container p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 145.833% */
}
.discount {
    height: 620px;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
    display: flex;
    justify-content: center;
}
.discount .flex {
    display: flex;
    gap: 186px;
    align-items: center;
}
.discount .flex .left h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.discount .flex .left p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 594px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.discount .flex .left .button {
    display: flex;
    justify-content: center;
}
.instagram-container h2 {
    margin-top: 128px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.instagram-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 594px;
    margin: 0 auto;
    margin-top: 24px;
}
.instagram-container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 48px;
}
.deals-container {
    background-image: url(photo/deals-background.svg);
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    margin-top: 128px;
}
.deals-container h2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 122px;
}
.deals-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 16px auto 0;
}
.deals-container .deals-item {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    gap: 16px;
}
.deals-container .deals-item input {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 1px #FFF;
    outline: transparent;
    padding-left: 22px;
}
.deals-container .deals-item input::placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer {
    margin-top: 128px;
    background-color: #111010;
    height: 449px;
}
footer .footer-item h2 {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 128px;
}
footer .footer-item p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 625px;
    margin: 24px auto 32px;
}
footer .footer-item small {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    text-align: center;
}
footer .footer-item {
    text-align: center;
}
@media (max-width:1480px) {
    .featured .grid {
        grid-template-columns: 0fr 0fr;
        justify-content: center;
    }
    .instagram-container .grid {
        grid-template-columns: 0fr 0fr 0fr;
        justify-content: center;
    }
    .deals-container {
        width: auto;
        background-position: center;
    }
}
@media (max-width:1340px) {
    header .container .flex .left h2 {
        font-size: 70px;
        width: 572px;    
    }
    header .container .flex .left p {
        width: 572px; 
    }
}
@media (max-width:1220px) {
    header .container .flex .left h2 {
        font-size: 59px;
        width: 509px;   
    }
    header .container .flex .left p {
        font-size: 16px;
        width: 509px; 
    }
}
@media (max-width:1165px) {
    header .container .flex .left h2 {
        font-size: 45px;
        width: 362px;   
    }
    header .container .flex .left p {
        font-size: 14px;
        width: 362px; 
    }
    .featured h2,
    .discount .flex .left h2,
    .discount .flex .left h2,
    .deals-container h2,
    .instagram-container h2,
    footer .footer-item h2 {
        font-size: 36px;
    }
    .featured p,
    .discount .flex .left p,
    .instagram-container p,
    .deals-container p,
    footer .footer-item p {
        font-size: 14px;
        width: 496px;
    }
    .btn {
        font-size: 14px;
    }
    .featured .grid .featured-item a,
    .service .service-container p {
        font-size: 21px;
    }
    footer .footer-item small {
        font-size: 12px;
    }
}
@media (max-width:1120px) {
    .instagram-container .grid {
        grid-template-columns: 0fr 0fr;
    }
}
@media (max-width:1020px) {
    header .container .flex {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    header .container .flex .left {
        align-items: center;
        margin-top: 32px;
    }
    header .container .flex .right {
        margin-top: 32px;
    }
    .featured .grid {
        grid-template-columns: 0fr;
    }
    .service {
        gap: 94px;
    }
    .discount {
        height: unset;
    }
    .discount .flex {
        flex-direction: column;
        gap: unset;
    }
    .discount .flex .left{
        margin-top: 32px;
    }
    .discount .flex .right {
        margin-top: 32px;
    }
    .deals-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .deals-container h2 {
        padding-top: unset;
    }
    .deals-container .deals-item {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}
@media (max-width:770px) {
    .featured .grid .featured-item a {
        font-size: 16px;
        margin-top: 20px;
    }
    .service .service-container p {
        font-size: 16px;
        line-height: 21px;
    }
    .instagram-container .grid {
        grid-template-columns: 0fr;
    }
    .deals-container .deals-item input {
        width: 500px;
    }
    .service {
        gap: 22px;
    }
} 